@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #093545;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.login-wrapper {
  background-image: url("../../public/svg/banner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in number input on Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}